  <!-- header -->
  <header class="fixed-top header">
    <!-- top header -->
    <div class="top-header py-2 bg-white">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 text-center text-lg-left">
                    <ul class="list-inline">
                        <li *ngIf="isLoggedIn && userType==2" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block c_p" (click)="queryIndividualPackage('776')" >Welcome {{userData.CustomerName}}</a></li>
                        <li *ngIf="isLoggedIn && userType==2" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block c_p" (click)="queryIndividualPackage('6787687')" >Account Bal: {{userData.masterWallet}}</a></li>
                        <li *ngIf="isLoggedIn && userType==2" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" [routerLink] = "'/accountDetail'" >Account Detail</a></li>
                        <li *ngIf="isLoggedIn && userType==2" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" (click)="openMpinModal()" >Set Mpin</a></li>

                    </ul>
                </div>
                <div class="col-lg-8 text-center text-lg-right">
                    <ul class="list-inline">
                        <li *ngIf="!isLoggedIn" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block c_p" [routerLink] = "'/locateus'">Locate Retailer</a></li>
                        <li *ngIf="isLoggedIn && userType==1" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#lastTransactionModal">Last Transaction</a></li>
                        <li *ngIf="isLoggedIn && userType==1" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#queryUserProfileMTML2Modal">Query Profile</a></li>
                        <li *ngIf="isLoggedIn && userType==1" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#etopupModal" >E-Topup Retailer</a></li>

                        
                        <!-- <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" >About Chili</a></li> -->
                        <li *ngIf="!isLoggedIn" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block c_p" [routerLink] = "'/packages'">Packages</a></li>
                        <li *ngIf="!isLoggedIn" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block c_p" [routerLink] = "'/login'">Login</a></li>

                        <li *ngIf="isLoggedIn && userType==1" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#signupModal">register</a></li>
                        <li *ngIf="isLoggedIn && userType==1" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#pinModal">Pin Modification</a></li>
                        <li *ngIf="isLoggedIn && userType==1" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#dealerModal">Dealer Balance</a></li>
                        <li *ngIf="isLoggedIn" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" (click)="logout()">Logout</a></li>



                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- navbar -->
   <div class="navigation w-100" >
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              

                <div class="collapse navbar-collapse" id="navigation">
                    <ul *ngIf="userType==1" class="navbar-nav ml-auto text-center" >
                        <li class="nav-item active">
                            <a class="nav-link c_p" >Authentication Dealer</a>
                        </li>
                        <li class="nav-item @@about">
                            <a class="nav-link c_p" data-toggle="modal" data-target="#pinModal">MPIN Modification</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p" >KYC</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p" >Sim activation</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p" >Product Sale</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p" data-toggle="modal" data-target="#etopupModal" >E-TOPUP</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p" data-toggle="modal" data-target="#lastTransactionModal" >LAST TRANSACTION</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p"  >Terms & Conditions</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p" [routerLink] = "'/faqs'"  >FAQ</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link c_p" [routerLink] = "'/locateus'"  >Locate us</a>
                        </li>
                       
                        
                    </ul>
                    <ul  class="navbar-nav ml-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link c_p" (click)="openMpinModal()"  >Authemticate OTP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link c_p" (click)="openMpinModal()"  >Modify MPIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link c_p" [routerLink] = "'/accountDetail'"  >View Profile</a>
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link c_p" (click)="queryIndividualPackage('6787687')">Bill query</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link c_p" >Request Bill on email</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link c_p" >Recharge</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link c_p" >Transfer balance</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link c_p" (click)="queryIndividualPackage('6787687')">Current Package</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link c_p" [routerLink] = "'/packages'" >CHiLi Packages</a>
                        </li>
                      
                       <li class="nav-item dropdown view">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item c_p" >Credit Loan</a>
                                <a class="dropdown-item c_p" >DND Request</a>
                                <a class="dropdown-item c_p">Loyalty Points</a>
                                <a class="dropdown-item c_p" >Links to bank recharge</a>
                                <a class="dropdown-item c_p" >Customer Care</a>
                                <a class="dropdown-item c_p"  >Terms & Conditions</a>
                                <a class="dropdown-item c_p" [routerLink] = "'/faqs'"  >FAQ</a>
                                <a class="dropdown-item c_p" [routerLink] = "'/locateus'"  >Locate us</a>
                                <a class="dropdown-item c_p" [routerLink] = "'/support'">Support</a>

                            </div>
                        </li>
                       
                     
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- /header -->

  <!-- Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <form action="#" class="row">
                        <div class="col-6">
                            <input type="text" class="form-control mb-3" id="signupPhone" name="signupmsisdn" placeholder="MSISDN" [(ngModel)]="signupmsisdn">
                        </div>

                        <div class="col-6">
                            <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name" [(ngModel)]="signupName">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupCertNo" name="signupCertNo" placeholder="Certificate No" [(ngModel)]="signupCertNo"> 
                        </div>
                        <div class="col-12">
                            <select class="form-control mb-3" id="signupGender" name="signupGender" placeholder="Gender" [(ngModel)]="signupGender">
                                <option value="none">Please Select Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                              </select>
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupAddressLine1" name="signupAddressLine1" placeholder="Address Line 1" [(ngModel)]="signupAddressLine1">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupAddressLine2" name="signupAddressLine2" placeholder="Address Line 2" [(ngModel)]="signupAddressLine2">
                        </div>

                        <div class="col-12">
                            <input type="file" class="form-control mb-3" id="signupPic" name="signupPic" placeholder="Choose Pic" accept="image/*" (change)="fileSelected($event.target.files)">
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" (click)="register()">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<!--Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="#" class="row">
                  <div class="col-12">
                      <select class="form-control mb-3" id="signinUserType" name="signinUserType" placeholder="User Type" [(ngModel)]="userType">
                          <option value="-1">Please Select User Type</option>
                          <option value="2">Subscriber</option>
                          <option value="1">Dealer</option>
                        </select>
                  </div>  
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone" [(ngModel)]="phone"> 
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name" hidden>
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password" [(ngModel)]="password">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" (click)="login()">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
<!--Login Modal-->

<!--Mpin Modal -->
<div class="modal fade" id="setMpinModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Set MPIN</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="#" class="row">
                  
                  <div class="col-12" *ngIf="activeLoginStep==1" id="step1">
                     
                   <div class="col-12">
                          <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone" [(ngModel)]="phone"> 
                      </div>
  
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary" (click)="proceedToVerifymPin()">PROCEED</button>
                      </div>
                  </div> 
                  <div class="col-12" *ngIf="activeLoginStep==2" id="step2">
                      <div class="col-12">
                          <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="MPIN" [(ngModel)]="password">
                      </div>
  
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary" (click)="verifyMpin()">LOGIN</button>
                      </div>
                  </div> 
                  <div class="col-12" *ngIf="activeLoginStep==3" id="step3">
                      <div class="col-12">
                          <input type="password" class="form-control mb-3" id="loginOtp" name="loginOtp" placeholder="OTP" [(ngModel)]="otp">
                      </div>
  
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary" (click)="verifyOtp()">Verify OTP</button>
                      </div>
                  </div> 
                  <div class="col-12" *ngIf="activeLoginStep==4" id="step4">
                      <div class="col-12">
                          <input type="password" class="form-control mb-3" id="loginmpin" name="loginmpin" placeholder="Mpin" [(ngModel)]="mpin">
                      </div>
  
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary" (click)="setMpin()">SET MPIN</button>
                      </div>
                  </div> 
                    
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name" hidden>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Mpin Modal-->

  <!-- Pin Modal -->
  <div class="modal fade" id="pinModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Pin Modification</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="pin">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="phone" name="phone" placeholder="Phone" [(ngModel)]="agentPhone" disabled>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="oldPin" name="oldPin" placeholder="Old Pin" [(ngModel)]="oldMpin">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="newPin" name="newPin" placeholder="New Pin"  [(ngModel)]="newMPin">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="confirmPin" name="confirmPin" placeholder="Confirm Pin"  [(ngModel)]="confirmNewMPin">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" (click)="pinmodification()">Change Pin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pin Modal -->

  <!-- Dealer Modal -->
  <div class="modal fade" id="dealerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Dealer Balance Transfer</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="dealer">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="dealerphone" name="dealerphone" placeholder="Phone" [(ngModel)]="fromAgentNbr" disabled>
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control mb-3" id="toAgentNumber" name="toAgentNumber" placeholder="To Agent Number" [(ngModel)]="toAgentNbr">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control mb-3" id="amount" name="amount" placeholder="Amount" [(ngModel)]="amount">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="agentPwd" name="agentpwd" placeholder="agentPwd" [(ngModel)]="agentPwd">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" (click)="dealerBalanceTransfer()">Transfer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Dealer Modal -->

  <!-- Etopup Modal -->
  <div class="modal fade" id="etopupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>E Topup</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="dealer">
                    <form class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="agentPhoneEtopup" name="agentPhoneEtopup" placeholder="Phone" [(ngModel)]="agentPhone" disabled>
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control mb-3" id="msisdn" name="msisdn" placeholder="User MSISDN" [(ngModel)]="msisdn">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control mb-3" id="amountetopup" name="amountetopup" placeholder="Amount" [(ngModel)]="amountetopup">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="agentPwdEtopup" name="agentPwdEtopup" placeholder="MPIN" [(ngModel)]="agentPwdEtopup">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" (click)="eTopUpUser()">Transfer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Etopup Modal -->


  <!-- Last transaction Modal -->
  <div class="modal fade" id="lastTransactionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Last Transaction</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="dealer">
                    <form class="row">
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="agentPwdLastTransaction" name="agentPwdLastTransaction" placeholder="MPIN" [(ngModel)]="agentPwdLastTransaction">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" (click)="getLastTransaction()">Get Transaction</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Last transaction Modal -->


  <!-- Last transaction Detail Modal -->
  <div class="modal fade" id="lastTransactionDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Last Transaction</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="dealer">
                    <form class="row">
                        <div class="col-12">
                            <h6  >Transaction Date</h6>
                            <label  class="form-control" id="transactionDate" name="transactionDate">{{lastTransactionObj?.transDate}}</label>
                        </div>
                        <div class="col-12">
                                <h6>User Amount Recharge</h6>
                                <label  class="form-control" id="userAmountRecharge" name="userAmountRecharge">{{lastTransactionObj?.userAmountRecharge}}</label>
                            </div>
                            <div class="col-12">
                                    <h6>MSISDN</h6>
                                    <label  class="form-control" id="usermsisdn" name="usermsisdn">{{lastTransactionObj?.msisdn}}</label>
                                </div>
                                <div class="col-12">
                                        <h6>Transaction ID</h6>
                                        <label  class="form-control" id="transactionID" name="transactionID">{{lastTransactionObj?.transactionID}}</label>
                                    </div>
                                    <div class="col-12">
                                            <h6>Agent Amount Deducted</h6>
                                            <label  class="form-control" id="agentAmountDeduct" name="agentAmountDeduct">{{lastTransactionObj?.agentAmountDeduct}}</label>
                                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Last transaction Detail Modal -->
  <!-- QueryUserProfile Modal -->
  <div class="modal fade" id="queryUserProfileMTML2ModalResponse" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Query User Profile</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="dealer">
                    <form class="row">
                        <div class="col-4">
                            <h6  >ICCID</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.ICCID}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Billing Index</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BillingCycleTypeIndex}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Postpaid Flag</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.PostpaidFlag}}</label>
                        </div>

                        <div class="col-4">
                            <h6  >Dis Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.DisableStopDate}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Block Reason</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BlockReason}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Last Pay Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.LastPaymentDate}}</label>
                        </div>

                        <div class="col-4">
                            <h6  >CustType</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.CustomerType}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Suspnd Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.SuspendStopDate}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >B Index</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BrandIndex}}</label>
                        </div>
                        
                        <div class="col-4">
                            <h6  >B Name</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BrandName}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >DefLang</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.DefLang}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >State</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.State}}</label>
                        </div>
                        
                        
                        <div class="col-4">
                            <h6  >IMSI</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.IMSI}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >L Pay Made</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.LastPaymentMade}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >creditLimit</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.creditLimit}}</label>
                        </div>
                        
                        <div class="col-4">
                            <h6  >Cust Name</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.CustomerName}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Master Wallet</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.masterWallet}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Active Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.ActiveStopDate}}</label>
                        </div>
                        
                        <div class="col-4">
                            <h6  >StateSet</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.StateSet}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >S Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.ServiceStopDate}}</label>
                        </div>
                        <div class="col-4">
                            <h6  >Refill Err</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.RefillErrorTimes}}</label>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- QueryUserProfile Modal -->

    <!-- QueryUserProfile  Modal -->
    <div class="modal fade" id="queryUserProfileMTML2Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Query User Profile</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="dealer">
                        <form class="row">
                            <div class="col-6">
                                <input type="text" class="form-control mb-3" id="queryUserProfileMsisdn" name="queryUserProfileMsisdn" placeholder="MSISDN" [(ngModel)]="queryUserProfileMsisdn">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control mb-3" id="queryUserProfileIMSI" name="queryUserProfileIMSI" placeholder="IMSI" [(ngModel)]="queryUserProfileIMSI">
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control mb-3" id="queryUserProfilePswd" name="queryUserProfilePswd" placeholder="Password" [(ngModel)]="queryUserProfilePswd">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" (click)="queryUserProfileMTML2()">Query User Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- QueryUserProfile Modal -->

        <!-- Last transaction Modal -->
  <div class="modal fade" id="queryIndividualProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Last Transaction</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="dealer">
                    <form class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3"  disabled>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Last transaction Modal -->