<app-header #Appheader  (mUserLoggedIn)="userLoggedIn()" (mUserLoggedOut)="userLoggedOut()" ></app-header>


 <!-- hero slider -->
 <section class="hero-section overlay" >
    <div class="container">
        <div class="card" style="width:80%; margin-left: auto;margin-right: auto;">
            <div class="card-body">
                <form class="row">
                    <div class="col-12">
                        <h6  >Address</h6>
                        <label  class="form-control" id="iccid" name="iccid">MTML Square, 63, Cybercity, Ebene</label>
                    </div>
                    <div class="col-12">
                        <h6  >Email</h6>
                        <label  class="form-control" id="iccid" name="iccid">support@chili.com</label>
                    </div>
                    <div class="col-12">
                        <h6  >Phone</h6>
                        <label  class="form-control" id="iccid" name="iccid">230 53238492</label>
                    </div>
                    </form>
             
            </div>
          </div>
    </div>
  </section>
  <!-- /hero slider -->
<app-footer></app-footer>

