 



<section class="login-wrap mtb-40">
        <div class="container">
            <div class="row justify-content-center" *ngIf="!error">
             
                <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4  text-sm-left">
                  <div class="login-box">
                    <div style="text-align: center;">
                        <a class="navbar-brand" href=""><img src="assets/images/logo2.png" alt="logo"></a>
                    </div>
                     <div style="text-align: center;font-size: 22px;margin-bottom: 20px;">
                        <p style="color: #E53481;">Chili Selfcare</p>
                     </div>
                      
                      <div class="alert alert-danger" *ngIf="loginError">
                         {{loginError}}
                      </div>
                      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                          <div class="form-group">
                              <input type="text" formControlName="username" class="form-control" placeholder="Username" required>
                              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
                                <div *ngIf="username.errors">
                                  Username is required.
                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
                                <span class="help-block"*ngIf="registrationForm.get('email').errors &&
                                (registrationForm.get('email').touched || registrationForm.get('email').dirty)">
                                <span *ngIf="registrationForm.get('email').errors.required">
                                  Email is required.
                                </span>
                                </span>
                            </div>

                          <div class="form-group">
                              <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                                <div *ngIf="password.errors">
                                  Password is required.
                                </div>
                              </div>
                          </div>
                          <div class="form-group" style="text-align: center;">
                              <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary" >Register</button>
                          </div>
                      </form>
                      <div style="text-align: center;font-size: 12px;margin-bottom: 20px;">
                          <p >Already have an account?<a href="" style="color: #E53481;">Log In</a></p>
                       </div>
                  </div>         
              </div>
            </div>
            <div class="service-error" *ngIf="error">
              <h1>{{error.errorTitle}}</h1>
              <h3>{{error.errorDesc}}</h3>
           </div>
        </div>
      </section>
      
