<app-header #Appheader  (mUserLoggedIn)="userLoggedIn()" (mUserLoggedOut)="userLoggedOut()" ></app-header>


 <!-- hero slider -->
 <section class="hero-section overlay" >
    <div class="container">
        <div class="card" style="width:80%; margin-left: auto;margin-right: auto;">
            <div class="card-body">
                <div class="dealer">
                    <form class="row">
                        <div class="col-12">
                            <h6  >ICCID</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.ICCID}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Billing Cycle Type Index</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BillingCycleTypeIndex}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Postpaid Flag</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.PostpaidFlag}}</label>
                        </div>

                        <div class="col-12">
                            <h6  >Disable Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.DisableStopDate}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Block Reason</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BlockReason}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Last Payment Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.LastPaymentDate}}</label>
                        </div>

                        <div class="col-12">
                            <h6  >Customer Type</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.CustomerType}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Suspend Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.SuspendStopDate}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Brand Index</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BrandIndex}}</label>
                        </div>
                        
                        <div class="col-12">
                            <h6  >Brand Name</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.BrandName}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Def Lang</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.DefLang}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >State</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.State}}</label>
                        </div>
                        
                        
                        <div class="col-12">
                            <h6  >IMSI</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.IMSI}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Last Payment Made</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.LastPaymentMade}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Credit Limit</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.creditLimit}}</label>
                        </div>
                        
                        <div class="col-12">
                            <h6  >Customer Name</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.CustomerName}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Master Wallet</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.masterWallet}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Active Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.ActiveStopDate}}</label>
                        </div>
                        
                        <div class="col-12">
                            <h6  >State Set</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.StateSet}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Service Stop Date</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.ServiceStopDate}}</label>
                        </div>
                        <div class="col-12">
                            <h6  >Refill Error Times</h6>
                            <label  class="form-control" id="iccid" name="iccid">{{queryUserProfileData?.RefillErrorTimes}}</label>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

                    </form>
                </div>
            </div>
          </div>
    </div>
  </section>
  <!-- /hero slider -->
<app-footer></app-footer>

